.Rproj.user
.Rhistory
.RData
.idea
.pyc
homesite.Rproj
output
input
submissions/
metafeatures/
winners_interview_KB.docx
winners_interview_KB2.docx
winners_interview_NMA.docx
winners_interview_NMA2.docx
Archive.zip
Kaggle_Form.docx
NMAKaggle_Form.docx
Rplot01.jpeg
Rplot.jpeg
charlesdadi-kaggle_homesite-77e336be66b5.zip
interview_table.xlsx
level1_metafeatures_auc.jpeg
quentin/
ensemble_lvl2_results.csv
